body {
    background-image: url("https://images.unsplash.com/photo-1508857650881-64475119d798?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGxhbnQlMjBudXJzZXJ5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1400&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: white;
    font-family: "Arial";
    background-color: #5f5251;
    font-size: 50;
}

h2 {
    text-align: center;
    color: white;
    font-family: "Arial";
    background-color: #5f5251;
    font-size: 30;
}

ul {
    list-style-type: none;
    font-family: "Arial";
    margin: 0;
    padding: 0;
    background-color: #5f5251;
    font-size: 20;
    width: 100%;
}

li {
    float: left;
    background-color: #5f5251;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
    color: #bfc9bd;
}
    
li a.active {
    background-color: #bfc9bd;
    color: white;
}

img { 
    float: left;
}

p {
    text-align: center;
    background-color: #5f5251;
    color: white;
    font-size: 20;
    font-family: Arial;
}
